*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}   

body {
  background-color: #2c3e50;
    font-family: 'Arial';
    line-height: 2;   
}

.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.font {
  display: flex;
}

.link {
  color: #000000;
  text-decoration: none;
}

.button {
    background-color: #565da0;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
}

.button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
