*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    font-family: Arial;
    line-height: 2;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 20%;

}

.center{
    justify-content: center;
    align-items: center;
}

.photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.link{
    color: black;
    text-decoration: none;
}

.kontak{
    display: flex;
}


.button {
    background-color: #565da0;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
}

.button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}